<div id="main">

    <div>
        <div class="sign">
           
           <a [routerLink]="['/Home']"> <img src="../../../assets/immagini/icons8-nike-50.png" alt=""></a>
        
        
            <img src="../../../assets/immagini/icons8-air-jordan-50.png" alt="">
        </div>

        <h3>Enter your email to join us or sign in.</h3>

        <p>Unites States <a>Change</a></p>

        <input type="text" placeholder="Email">

        <p>By continuing, I agree to Nike's Privacy Policy and Terms of Use. </p>

        <button>Continue</button>

    </div>

</div>
