<div id="main"><hr>
    <ul class="menu">
        <li class="menu-item">Resources
            <ul class="submenu">
                <li>Find a store</li>
                <li>Nike Journal</li>
                <li>Become a member</li>
                <li>Feeback</li>
                <li>Promo codes</li>
            </ul>
        </li>
        <li class="menu-item">Help
            <ul class="submenu">
                <li>Get help</li>
                <li>Order status</li>
                <li>Contact us</li>
                <li>Returns</li>
                <li>Reviews</li>
            </ul>
        </li>
        <li class="menu-item">Company
            <ul class="submenu">
                <li>About Nike</li>
                <li>News</li>
                <li>Careers</li>
                <li>Investors</li>
                <li>Sustainability</li>
            </ul>
        </li>
        <li class="menu-item">United States</li>
    </ul>
</div>