<header>

    <div id="first">
        <div><a><img src="../../../assets/immagini/icons8-air-jordan-50.png" alt=""></a></div>
    <ul>
    <li><a>Find a store</a>
    <li><a>Help</a></li>
    <li><a [routerLink]="['/joinus']">Join us</a></li>
    <li><a [routerLink]="['joinus']">Sign in</a></li>
    </ul> 

    </div>
    
    <!--second-->
    
    <div id="second">
        <div>
            <a [routerLink]="['/Home']"><img id="logoNike" src="../../../assets/immagini/icons8-nike-50.png" alt=""></a>
        </div>

       <nav id="nav-principale">
        
        <li class="men"><a>Men</a></li>
         <li class="women"><a>Women</a> </li>
        <li class="kids"> <a>Kids</a></li>   
        <li class="outlet"><a>Outlet</a></li> 
        <li class="shop">Shop</li>
   
         </nav>  
        
       <div id="menu-secondo">
        
        <div>
       <h6><a [routerLink]="['/All-shoes']">All shoes</a></h6>
        <ul>
             <li><a [routerLink]="['/New-arrivals']">New arrivals</a></li>
                <li><a>Outerwear</a></li>
                <li><a [routerLink]="['/Best-sellers']">Best sellers</a></li>
                <li><a>Member</a></li>
                <li><a>National team 2024</a></li>
            </ul>
        </div>    
                
            
            
               

        <div>
            <h6><a>Shop icons</a></h6>
            <ul>
                <li><a>Air force 1</a></li>
                <li><a>Air jordan 1</a></li>
                <li><a>Easyfly</a></li>
                <li><a>Air max</a></li>
                <li><a>Blazer</a></li>
            </ul>
        </div>

        <div>
            <h6><a [routerLink]="['/Discover sport']">Discover sport</a></h6>
            <ul>
                <li><a [routerLink]= "['/Basketball']">Basketball</a></li>
                <li><a>Football</a></li>
                <li><a [routerLink]="['/Sneakers']">Sneakers</a></li>
                <li><a>Martial arts</a></li>
                <li><a>Tennis</a></li>
                <li><a [routerLink]= "['/Running']">Running</a></li>
            </ul>
        </div>

        <div>
            <h6><a>Trending</a></h6>
            <ul>
                <li><a>Teenager</a></li>
                <li><a>Easyon</a></li>
                <li><a>Sustainability</a></li>
                <li><a>Nike style by</a></li>
                <li><a>Air jordan collection</a></li>
                <li><a>Air max home</a></li>
            </ul>
        </div>

    </div>   
        
      
<div id="part">

        <div id="sec"><img id="search" src="../../../assets/immagini/search.png" alt="">
            
        </div>

        <input type="text" placeholder="Search" >

       
    
     <div id="logoCart">
        <a [routerLink]="['/carrello']"><div class="cart-container"><img src="../../../assets/immagini/shopping-cart.png" alt="">
            
    <span class="cart-count">{{totBag}}</span>
</div></a>
</div>
    <div id="logoFav">
        <a [routerLink]=""><img src="../../../assets/immagini/favorite.png" alt=""></a>
    </div>
    
</div>   

</div>

           
        
  <!--third-->
    
 <div id="third">
    
        <span>-20% on fleece sets</span> 
        <span>Fleece shirts and trousers: use FLEECE23 on selected models *until 12/24 9am CET<span><a>Buy</a></span> <a>Terms and conditions</a></span>
    </div>


    </header>   
              
        
        

    
    
    
            
   
    
       
    

       
   
    
    
    